In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('Total.csv')

C:\Users\Mrs Fadeyi\AppData\Local\Temp\ipykernel_18088\1015077018.py:1: DtypeWarning: Columns (2,3,4,5) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('Total.csv')

In [3]:
df.head()

,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year
0,NATHANIEL FORD,GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY,167411.18,0.0,400184.25,Not Provided,567595.43,567595.43,2011
1,GARY JIMENEZ,CAPTAIN III (POLICE DEPARTMENT),155966.02,245131.88,137811.38,Not Provided,538909.28,538909.28,2011
2,ALBERT PARDINI,CAPTAIN III (POLICE DEPARTMENT),212739.13,106088.18,16452.6,Not Provided,335279.91,335279.91,2011
3,CHRISTOPHER CHONG,WIRE ROPE CABLE MAINTENANCE MECHANIC,77916.0,56120.71,198306.9,Not Provided,332343.61,332343.61,2011
4,PATRICK GARDNER,"DEPUTY CHIEF OF DEPARTMENT,(FIRE DEPARTMENT)",134401.6,9737.0,182234.59,Not Provided,326373.19,326373.19,2011

### Fetch Employee Details

In [4]:
import pandas as pd

def find_employee_details(employee_name, csv_file):
    try:
        # Read the CSV file into a DataFrame
        df = pd.read_csv(csv_file)

        # Filter the DataFrame to find details of the employee
        employee_details = df[df['EmployeeName'] == employee_name]

        # Check if employee_details is empty
        if employee_details.empty:
            return "Employee not found"
        else:
            return employee_details
    except FileNotFoundError:
        return "CSV file not found"
    except Exception as e:
        return f"An error occurred: {str(e)}"

# Example usage:
csv_file = "Total.csv"
employee_name = "NATHANIEL FORD"
find_employee_details(employee_name, csv_file)

C:\Users\Mrs Fadeyi\AppData\Local\Temp\ipykernel_18088\1031852915.py:6: DtypeWarning: Columns (2,3,4,5) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(csv_file)

,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year
0,NATHANIEL FORD,GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY,167411.18,0.0,400184.25,Not Provided,567595.43,567595.43,2011

In [5]:
employee_name = "GARY JIMENEZ"
find_employee_details(employee_name, csv_file)

C:\Users\Mrs Fadeyi\AppData\Local\Temp\ipykernel_18088\1031852915.py:6: DtypeWarning: Columns (2,3,4,5) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(csv_file)

,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year
1,GARY JIMENEZ,CAPTAIN III (POLICE DEPARTMENT),155966.02,245131.88,137811.38,Not Provided,538909.28,538909.28,2011

### Employee detail to CSV file

In [6]:
import pandas as pd

def export_employee_details(employee_name, csv_file):
    try:
        # Read the CSV file into a DataFrame
        df = pd.read_csv(csv_file)

        # Filter the DataFrame to find details of the employee
        employee_details = df[df['EmployeeName'] == employee_name]

        # Check if employee_details is empty
        if employee_details.empty:
            return "Employee not found"
        else:
            # Export employee details to CSV file named "Employee Profile.csv"
            output_csv = "Employee Profile.csv"
            employee_details.to_csv(output_csv, index=False)
            return f"Employee details exported to {output_csv}"
    except FileNotFoundError:
        return "CSV file not found"
    except Exception as e:
        return f"An error occurred: {str(e)}"

# Example usage:
csv_file = "Total.csv"
employee_name = "NATHANIEL FORD"
print(export_employee_details(employee_name, csv_file))

Employee details exported to Employee Profile.csv

C:\Users\Mrs Fadeyi\AppData\Local\Temp\ipykernel_18088\966746716.py:6: DtypeWarning: Columns (2,3,4,5) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(csv_file)